.wrapper {
  display: flex;
  max-width: 90vw;
  gap: 2vw;
  padding-bottom: 4px;
}
.wrapper:first-child {
  padding-top: 4px;
}
main {
  flex-grow: 1;
}

.content {
  padding: 24px 0;
  width: 77%;
}
.content h1 {
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 3px;
  color: black;
}
.core-values-wrapper .content h1 span {
  font-size: large;
}
.content p {
  font-size: large;
  max-height: 3lh;
  overflow-y: hidden;
  display: -webkit-box;
  line-height: 1.7;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: max-height 0.4s ease-in-out;
}
.core-values-wrapper .content p {
  font-weight: 600;
  padding: 5px 0;
}
.core-values-wrapper .content p span {
  font-weight: normal;
  padding-left: 5px;
}
.wrapper .side-block svg {
  padding: 5px 0;
}
.wrapper .side-block {
  border-radius: 0px 5px 10px 0;
  display: grid;
  place-content: center;
  width: 20%;
  /* background: black !important; */
}

.about-wrapper .side-block {
  background-color: #2bd2cb;
}
.vision-wrapper .side-block {
  background-color: #fd6d53;
}
.mission-wrapper .side-block {
  background-color: #fbb605;
}
.core-values-wrapper .side-block {
  background-color: grey;
}

.wrapper label {
  cursor: pointer;
  width: max-content;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 700;
  display: block;
}

.read-more-checkbox {
  display: none;
}

.read-more-checkbox:checked ~ p {
  max-height: 200lh;
  line-clamp: unset;
  -webkit-line-clamp: unset;
}

.read-less-btn {
  display: none;
}
.read-more-checkbox:checked ~ label .read-more-btn {
  display: none;
}
.read-more-checkbox:checked ~ label .read-less-btn {
  display: block;
}

/* Responsive */
@media (max-width: 768px) {
  .wrapper .side-block {
    position: relative;
  }
  .wrapper svg {
    position: absolute;
    transform: scale(1.9);
    left: -9%;
    top: 35%;
    padding: 0;
  }
  .wrapper {
    gap: 27px;
  }
  .wrapper .side-block {
    width: 13%;
  }
  .core-values-wrapper .content p span {
    line-height: 1.1;
    display: block;
  }
}
