* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
:root {
  --base-color: #55185d;
  --dark-purple: #44134a;
  --white: white;
  --accent-color: #ecb602;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", Poppins;
  background: white;
  width: 100%;
  min-height: 100vh;
  overflow-x: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* Page Loader */
.page-loader {
  background: white;
  position: fixed;
  height: 100vh;
  width: 100%;
  transition: 0.45s ease;
  z-index: 100000;
  display: grid;
  place-content: center;
}

.page-loader .spin {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border: 13px solid var(--base-color);
  border-bottom-color: transparent;
  border-radius: 5000px;
  animation: spin 1s linear infinite;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.header {
  min-height: 500px;
  width: 100%;
  background: var(--base-color);
  background-size: cover;
}
.header .navbar {
  width: 100%;
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop-navbar {
  display: none;
}

/* Mobile navbar */
.mobile-nav-toggle {
  background: var(--base-color);
  position: relative;
  padding: 4px 4px 0px;
  z-index: 10000;
  cursor: pointer;
}
.mobile-nav-toggle i {
  color: white;
  font-size: 1.78rem;
  transition: 0.3s ease;
}
.mobile-nav-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mobile-nav-overlay {
  position: absolute;
  z-index: 1000;
  position: fixed;
  top: 0;
  /* animation: mobileNavSLideIn 0.45s; */
  opacity: 0;
  right: -101vw;
  width: 100vw;
  min-height: 500px;
  background: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: -3px 3px 8px 0px #00000042; */
  transition: 0.45s ease;
}
.mobile-nav-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  text-align: center;
}
.mobile-nav-items-wrapper a.nav-item {
  font-family: "Raleway", Poppins;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--base-color);
  padding: 5px 10px;
  transition: 0.1s;
}
.mobile-nav-items-wrapper a.nav-item:hover {
  background: var(--base-color);
  color: white;
}

html:has(.header .navbar .mobile-nav-toggle input[type="checkbox"]:checked) {
  .mobile-nav-overlay {
    right: 0;
    opacity: 1;
    display: flex;
  }
}

.header .header-center-text {
  /* max-width: 70%; */
  margin: 0 auto;
  transform: translateY(76%);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .header-center-text h3 {
  font-size: smaller;
  letter-spacing: 5px;
  line-height: 1;
  font-weight: normal;
  font-family: "Jost", Raleway;
  margin-top: -2px;
}
.header .header-center-text .logo-text {
  max-width: 85%;
}

/* .logo-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
} */

/* ABOUT */
section.coloured-bg {
  width: 100%;
  display: flex;
  align-items: center;
  /* background: rgb(236, 182, 2); */
  background: #3f3741;
  background: var(--dark-purple);
  padding: 4rem 0;
}
section.coloured-bg .wrapper {
  padding-left: 5rem;
  width: 65%;
}
section.coloured-bg .wrapper h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: #eee9f5;
  margin-bottom: 10px;
}
section.coloured-bg .wrapper h1 span {
  color: var(--accent-color);
}
section.coloured-bg .wrapper p {
  font-size: 1.2rem;
  color: #c7c4cc;
  font-weight: 600;
  line-height: 2;
}

/* Contact */
.contact-container {
  padding: 3rem 0 !important;
}
.contact-wrapper i {
  font-size: 1.2rem;
  color: #c7c4cc;
}
.contact-wrapper .email {
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact-wrapper a {
  font-size: 1.2rem;
  color: #c7c4cc;
  font-weight: 600;
  line-height: 2;
}
.contact-wrapper a:hover {
  text-decoration: underline;
}

/* ABOUT CONTENT */
.about-content {
  display: flex;
  align-items: center;
  padding: 5rem 0;
}
.about-content .wrapper {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
}
.about-content .wrapper h2 {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: var(--base-color);
  margin-bottom: 10px;
}
.about-content .wrapper p {
  font-size: 1.2rem;
  color: rgb(38, 38, 38);
  font-weight: 600;
  line-height: 2;
}
.about-content .wrapper .about-faction {
}
.about-core-values u {
  font-weight: 700;
  color: var(--base-color);
}

/* PRODUCTS */
.products-container {
  display: flex;
  align-items: center;
  padding-bottom: 6rem;
}
.products-container .wrapper {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  width: 60%;
}
.products-container .wrapper h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: var(--base-color);
  margin-bottom: 10px;
}
.products-container .wrapper h1 span {
  color: var(--accent-color);
}
.products-container .wrapper p {
  font-size: 1.2rem;
  color: rgb(38, 38, 38);
  font-weight: 500;
  line-height: 1.3;
  font-style: italic;
  margin-left: 3px;
  margin-top: -10px;
  margin-bottom: 7px;
}
.products-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.products-content img:first-child {
  height: 50px;
}

.products-content img:last-child {
  border-radius: 5px;
  height: 50px;
  transition: 0.25s;
  margin-left: 2px;
}
.products-content img:last-child:hover {
  transform: scale(1.05);
}

/* footer */
.footer {
  font-family: "Raleway", Poppins;
  flex-shrink: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px dotted var(--accent-color);
  background: var(--dark-purple);
  padding: 2rem 0;
}
.footer .footer-content-wrapper {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  max-width: 90%;
  line-height: 1.5;
}
.footer .footer-content-wrapper a {
  color: var(--accent-color);
}
.footer .footer-content-wrapper a:hover {
  text-decoration: underline;
}

/* ANIMations */
@keyframes mobileNavSLideIn {
  0% {
    opacity: 1;
    display: flex;
    /* left: 0; */
  }
  75% {
    opacity: 0;
    display: flex;
    /* left: 0; */
  }
  100% {
    opacity: 0;
    display: none;
    /* left: 0; */
  }
}
