* {
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
:root {
  --base-color: #55185d;
  --dark-purple: #44134a;
  --white: white;
  --accent-color: #ecb602;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Raleway", Poppins;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.mobile {
  display: none;
}
header {
  overflow-x: hidden !important;
  /* margin-top: 10px; */
  position: relative;
  width: 100%;
  background: var(--base-color);
  text-align: center;
}
header img {
  padding: 13px 0;
  height: 100px;
}
.container {
  max-width: 99vw;
  width: 95vw;
  min-height: 100vh;
  margin: 0 auto;
}
header .hamburger {
  transition: 0.3s;
  top: calc(50% - 14.5px);
  right: 5%;
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
}
header .hamburger label {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
header .hamburger input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
header .hamburger span {
  height: 3px;
  background: white;
  transition: 0.3s;
}
header .hamburger span.dash-1 {
  width: 70%;
}
header .hamburger span.dash-2 {
  width: 100%;
}
header .hamburger span.dash-3 {
  width: 80%;
}
html:has(input#hamburger:checked) {
  header .hamburger {
    transform: rotateZ(-45deg);
  }
  header .hamburger span {
    border-radius: 1px;
  }
  header .hamburger span.dash-1 {
    transform: rotateZ(90deg) translateX(8.3px);
    width: 100%;
  }
  header .hamburger span.dash-2 {
    width: 100%;
  }
  header .hamburger span.dash-3 {
    width: 0%;
  }
  nav {
    visibility: visible;
    right: 0;
  }
}

/* Nav */
nav {
  position: absolute;
  z-index: 1000;
  right: -500px;
  top: 100px;
  background: white;
  width: 200px;
  transition: 0.4s ease-in-out right;
  visibility: hidden;
  /* box-shadow: 2px 20px black; */
  filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.249));
}

nav a {
  display: block;
  width: 100%;
  background: white;
  text-align: center;
  padding: 20px 20px;
  border-bottom: 1px solid var(--base-color);
  border-left: 1px solid var(--base-color);
}
nav a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.tagline {
  /* margin-top: 20px; */
  font-size: xx-large;
  padding: 7% 0 5%;
  text-align: center;
  font-weight: normal;
  line-height: 1.4;
  font-weight: 600;
}
.tagline span {
  font-weight: 700;
  color: var(--accent-color);
  font-style: italic;
}
.tagline span span {
  color: var(--base-color);
}

/* features */
.features {
  text-align: center;
  margin: 0 auto;
  display: grid;
  align-items: start;
  justify-items: center;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  width: 1000px;
  max-width: 90%;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
.feature .feature-icon {
  background: #00000016;
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}
.feature .feature-icon img {
  width: 45%;
}
.feature-title {
  line-height: 1.27;
  font-size: medium;
  font-weight: 700;
  margin-bottom: 5px;
}
.feature-description {
  font-size: medium;
  line-height: 1.62;
  font-weight: 500;
}

/* App */
.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  background: var(--base-color);
  border-radius: 60px 60px 30px 30px;
  color: white;
  margin: 150px auto;
  position: relative;
}
.app-container .app-col-1 {
  display: flex;
  padding: 40px 40px;

  flex-direction: column;
}
.app-container .app-col-1 h1 {
  font-size: 71px;
  margin-bottom: 15px;
  line-height: 1.03;
}
.app-container .app-col-1 p {
  opacity: 0.67;
  font-size: 23px;
  margin-bottom: 30px;
  width: 70%;
  line-height: 1.4;
}
.app-container .app-col-1 .app-button-group {
  width: 70%;
  display: flex;
  flex-direction: row;
  transform: translateX(-5px);
  gap: 2px;
  position: relative;
  align-items: center;
}
.app-container .app-col-1 .app-button-group a img {
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  border: 3px solid transparent;
  transition: 0.5s;
}
.app-container .app-col-1 .app-button-group a:hover img,
.app-container .app-col-1 .app-button-group a:active img {
  border: 3px solid white;
}

.app-container .app-col-2 .phone {
  width: 80%;
  transform: translateY(-13%);
}

/* fOOTER */
footer {
  background: #1d1d1d;
  min-height: 200px;
  width: 100%;
  min-height: max-content !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer .footer-col-1.nav-links {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-transform: uppercase;
}
footer .footer-col-1.nav-links a {
  color: #ffffff;
  font-weight: 600;
  font-size: large;
}
footer .footer-col-2 {
  display: flex;
  flex-direction: column;
}
footer .footer-col-2 h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: large;
}
footer .footer-col-2 a {
  color: #ffffff;
  opacity: 0.67;
}

/* Responsive styles */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .app-container {
    padding: 0 50px;
    border-radius: 40px 40px 30px 30px;
  }
  .app-container .app-col-1 h1 {
    font-size: 61px;
  }
  .app-container .app-col-1 p {
    font-size: 19px;
    margin-bottom: 20px;
    width: 90%;
  }
  .app-container .app-col-2 {
    text-align: center;
  }
  .app-container .app-col-2 .phone {
    width: 70%;
    transform: translateY(-13%);
  }
  .app-container .app-col-1 .app-button-group {
    width: 95%;
  }
}

@media (max-width: 768px) {
  header img {
    height: 90px;
  }
  nav {
    top: 80px;
  }
  html:has(input#hamburger:checked) {
    header .hamburger {
      transform: rotateZ(-45deg) scale(0.9);
    }
  }
  header .hamburger {
    transform: scale(0.9);
  }
  nav {
    width: 100%;
  }
}
@media (min-width: 530px) and (max-width: 610px) {
  .app-container .app-col-1 h1 {
    font-size: 45px !important;
  }
  .app-container .app-col-1 p {
    width: 100% !important;
  }
  .app-container .app-col-1 .app-button-group {
    width: 100% !important;
  }
}
@media (min-width: 530px) and (max-width: 768px) {
  .features {
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 40px 10px !important;
  }
  .feature:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%;
  }

  .tagline {
    font-size: x-large;
    padding: 5% 0;
  }

  .app-container {
    border-radius: 30px 30px 20px 20px;
  }
  .app-container .app-col-1 {
    padding: 40px 40px;
  }
  .app-container .app-col-1 .app-button-group {
    width: 95%;
    gap: 0px;
  }
  .app-container .app-col-1 a img {
    height: 100%;
    width: auto;
  }
  .app-container .app-col-1 h1 {
    font-size: 55px;
  }
  .app-container .app-col-1 p {
    font-size: 18px;
    margin-bottom: 15px;
    width: 80%;
  }
}

@media (min-width: 480px) and (max-width: 530px) {
  .app-container {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 130% !important;
  }
  .app-container .phone-mobile {
    width: 60% !important;
    transform: translateY(-68%) !important;
  }
}
@media (max-width: 530px) {
  html:has(input#hamburger:checked) {
    header .hamburger {
      transform: rotateZ(-45deg) scale(0.8) !important;
    }
  }
  header .hamburger {
    transform: scale(0.8) !important;
  }
  .mobile {
    display: block;
  }
  .tagline {
    font-size: large;
    padding: 11% 0;
  }
  .features {
    grid-template-columns: 1fr !important;
    width: 86%;
    gap: 38px;
  }
  .app-container {
    margin-top: 150%;
    border-radius: 20px 20px 30px 30px;
  }
  .app-container .phone-mobile {
    width: 70%;
    position: absolute;
    z-index: -1;
    transform: translateY(-75%);
  }
  .app-container .app-col-1 {
    padding: 60px 40px;
  }
  .app-container .app-col-2 {
    display: none;
  }
  .app-container .app-col-1 h1 {
    font-size: 40px;
  }
  .app-container .app-col-1 h1 br {
    display: none;
  }
  .app-container .app-col-1 p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .app-container .app-col-1 .app-button-group {
    width: 100%;
  }

  .app-container .app-col-1 .app-button-group a img {
    height: 80%;
  }
}
